$c-text: rgb(29, 180, 24);
$c-text-secondary: #f4f4;

$c-primary: #f2f2a1;

$c-background: #f9f9f9;
$c-background-dark: #eef3f6;
$c-background-ligth: #fff;

$font-family: "Poppons", sans-serif;
$shadow-box: 0px 2px 8px rgba(0, 0, 0, 0.25);

$header: 3rem;
